<!doctype html>
<head>
    <title>MeridIA</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <div id="header">
    <table width="800">
      <tr><td><img src="/static/images/logo-330x355.png" width="120px" /></td></tr>
    </table>
  </div>
  <p>&nbsp;</p>

  <table width="800">
    <tr>
      <td width="400">
        <div class="juxtapose" data-startingposition="40%">
            <img data-label="Direct Scaled" src="/static/uploads/{{ filename }}" />
            <img data-label="Scaled With MeridIA" src="/static/generated/{{ filename_new }}" />
        </div>
        <script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
        <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
      </td>
      <td style="border: 1px solid white;">
        <p>Download the scaled photo with MeridIA</p>
        <a href="/return-files/{{ filename_new }}" target="blank"><button>download</button></a>
      </td>
    </tr>
    <tr>
      <td><div class="back"><a href="/uploadfile"><< Try another image</a></div></td>
    </tr>
  </table>


</body>
