
<!doctype html>
<head>
    <title>LowFace2High</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <h1>LowFace2High</h1>
    <p>Increase the quality of face images</p>
    <table>
        <tr>
            <td>You have uploaded this file:</td>
            <td>And this is the improved version:</td>
        </tr>
        <tr>
            <td><img src="/static/uploads/{{ filename }}" /></td>
            <td><img src="/static/generated/{{ filename_new }}" /></td>
        </tr>
        <tr>
            <td/>
            <td>
                  <a href="/return-files/{{ filename_new }}" target="blank"><button>download</button></a>
            </td>
        </tr>
    </table>
    <p>
        <div>You can check the improve!</div>
        <div class="juxtapose">
            <img src="/static/uploads/{{ filename }}" />
            <img src="/static/generated/{{ filename_new }}" />
        </div>
        <script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
        <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
    </p>
    <div class="back"><a href="/uploadfile"><< Upload another image</a></div>
</body>
