<!doctype html>
<head>
    <title>LowFace2High</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <h1>LowFace2High</h1>
    <p>Increase the quality of face images</p>

{% block body %}
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form action="" method=post enctype=multipart/form-data>
      <table>
      <tr><td>
           <input name="username">
      </td></tr>
      <tr><td>
          <input type="password" name="password">
      </td></tr>
      <tr><td>
          <input type="submit" value="login">
      </td></tr>
      </table>
  </form>
{% endblock %}

</body>
