<!doctype html>
<head>
    <title>UnBlurAI</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
  <div id="header">
    <table width="800">
      <tr><td><img src="/static/images/logo-500x360.png" width="100px" /></td></tr>
    </table>
  </div>
  <p>&nbsp;</p>

  <table width="800">
    <tr>
      <td width="400">
        <div id="juxtapose"></div>
        <script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
        <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
        <script>
        ids = [297,365,446,474];
        id = ids[ Math.floor(Math.random()*ids.length) ]
        slider = new juxtapose.JXSlider(
            "#juxtapose",
            [
                {
                  src: "/static/demo/file" + id + "_low.jpg",
                  label: "No UnBlurAI"
                },
                {
                  src: "/static/demo/file" + id + "_high.jpg",
                  label: "Using UnBlurAI"
                }
            ],
            {
                animate: true,
                showLabels: true,
                showCredits: false,
                startingPosition: "40%",
                makeResponsive: true
            });
        </script>
      </td>
      <td style="border: 1px solid white;">
        <p>Please, select a photo to scale</p>
        <form action="" method=post enctype=multipart/form-data>
            <label class="selectFile">
                <input type="file" name="file">
                select file
            </label>
            <input type="submit" value="upload file">
        </form>
      </td>
    </tr>
  </table>
</body>
